<nav class="navbar navbar-dark">
  <ul class="nav navbar-nav clearfix">
    <li class="nav-item">
      <!-- Maybe more nav items later -->
    </li>
  </ul>
  <div>
    <%= link_to "Marketplace", coupons_path, class: 'navbar-brand' %>
    <% if current_user %>
      <%= link_to "Sign out", destroy_user_session_path, class: 'navbar-brand' %>
    <% else %>
      <%= link_to "Sign in", new_user_session_path, class: 'navbar-brand' %>
      <%= link_to "Register", new_user_registration_path, class: 'navbar-brand' %>
    <% end %>
    <ul class="nav navbar-nav">
      <%= render 'layouts/navigation_links' %>
    </ul>
  </div>
</nav>
